body
{
  padding: 0px;
  margin: 0;
  background-color: black;
  font-family: 'Roboto', sans-serif;
  color: white;
}

canvas
{
  outline: none;
}

#title
{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -75%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

#title h1
{
  font-size: 10em;
}

button
{
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #B82601;
  border: none;
  border-radius: 15px;

  transition: 0.2s;
}

button:hover
{
  background-color: gray;
  box-shadow: 1px 3px #fff;
  color: white;
}

button:active
{
  transition: 0s;
  background-color: #B82601;
}

button:focus
{
  outline: 0;
}

#control-container
{
  position: fixed;
  top: 0%;
  left: 0%;
  transform: translateY(-80%);
  transition: transform .3s;
}

#control-container button
{
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  padding: 10px 20px;
  width: 250px;
}

#control-container tr
{
  height: 30px;
}

.checkbox
{
  transform: scale(2);
}

.slider
{
  -webkit-appearance: none;
  height: 25px;
  background: #062F4F;
  outline: none;
  opacity: .8;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover
{
  opacity: 1;
}

.slider::-webkit-slider-thumb
{
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #813772;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #813772;
  cursor: pointer;
}
